<!DOCTYPE html>
<html lang="es-es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProgramaYa</title>
    <link href="../programaya/css/programaya.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div class="container">
            <a class="logo" href="#">ProgramaYa!</a>
            <nav>
                <a href="#somos-proya">Quienes Somos</a>
                <a href="#programas">Nuestros Programas</a>
                <a href="#caracteristicas">Características</a>
            </nav>
        </div>
    </header>
    <section id="hero">
        <h1>Aprendé a Programar <br>con los mejores </h1>
        <button>APLICA YA!</button>
    </section>
    <section id="somos-proya">
        <div class="container">
            <div class="img-container"></div>
            <div class="somos">
                <h2>Somos <span class="color-acento">ProgramaYa!</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad dolorem, dolore adipisci, inventore
                    consequatur ipsum modi, delectus corporis pariatur rem fugit saepe tempore dolores. Perferendis
                    placeat
                    quaerat eum nisi harum.</p>
            </div>
        </div>
    </section>

    <section id="programas">
        <div class="container">
            <h2>Nuestros Programas</h2>
            <div class="programas-ya">
                <div class="carta">
                    <h3>Programador Front-end</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, sint in esse voluptatum molestiae
                        nam pariatur magnam animi soluta cupiditate vitae debitis, modi est magni officiis quia, cumque
                        assumenda corrupti.</p>
                    <button>Más Info</button>
                </div>
                <div class="carta">
                    <h3>Programador Full-Stack</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque est impedit neque tempora quod!
                        Amet, sit porro voluptatem molestias magnam, expedita assumenda dicta dolorum accusamus est quas
                        ducimus vitae velit.</p>
                    <button>Más Info</button>
                </div>
                <div class="carta">
                    <h3>Programador Python</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, reprehenderit, quae labore a
                        est repudiandae delectus blanditiis aspernatur mollitia vitae consequuntur, cumque fugiat
                        laborum dignissimos ipsam ab cum unde officia.</p>
                    <button>Más Info</button>
                </div>
            </div>
        </div>
    </section>

    <section id="caracteristicas">
        <div class="container">
            <ul>
                <li>✅ 100% online</li>
                <li>✅ Flexibilidad de horarios</li>
                <li>✅ Soporte 1:1</li>
                <li>✅ Asistencia financiera</li>
            </ul>
        </div>
    </section>

    <section id="final">
        <h2>Listo para programar?</h2>
        <button>APLICA YA!</button>
    </section>

    <footer>
        <div class="container">
            <p>&copy; ProgramaYa 2025</p>
        </div>
    </footer>
</body>

</html>